.sub25 {
  accent-color: red;
}

.sub50 {
  accent-color: orange;
}

.sub75 {
  accent-color: lightgreen;
}

.sub100 {
  accent-color: green;
}

input[type='password'] {
  margin-bottom: 5px;
}

.label {
  display: block;
  font-size: 12px;
}
